---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-8 mt-5">
    <div class="text-xl py-1">🙋‍♂️ Nice to meet you!</div>
    <div class="text-5xl font-bold">I'm Jay Morgan</div>
    <div class="text-3xl py-3 font-bold">a 3D Environment Artist</div>
    <div class="py-2">
      <text class="text-lg">
        I'm a UK-based 3D artist specializing in creating real-time, playable worlds for video games.<br/>
        I'm very passionate about creating immersive places for people to explore and enjoy.
      </text>
    </div>
    <div class="mt-4 flex space-x-5">
      <a  href="../cv" class="btn btn-outline"> CV </a>
      <a class="btn btn-outline ml-5" href="https://www.artstation.com/jammie3d" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          class="align-middle"
          style="fill: currentColor;transform: ;msFilter:;">
          <path d="M0 17.723l2.027 3.505h.001a2.424 2.424 0 0 0 2.164 1.333h13.457l-2.792-4.838H0zm24 .025c0-.484-.143-.935-.388-1.314L15.728 2.728a2.424 2.424 0 0 0-2.142-1.289H9.419L21.598 22.54l1.92-3.325c.378-.637.482-.919.482-1.467zm-11.129-3.462L7.428 4.858l-5.444 9.428h10.887z"/>
        </svg>
        Portfolio </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Projects</div>
  </div>
  <HorizontalCard
    title="Mono World RP"
    img="/monoworld-thumb.webp"
    subtitle="UEFN, Monoford Studios, 2026"
    desc="A roleplaying game created in UEFN. I helped design and decorate the map, created a custom landscape shader, produced stylized assets and optimized everything to stay within limited memory constraints."
    url="https://www.fortnite.com/@monoford/8651-5006-2690"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Micro Mayhem"
    img="/micromayhem-thumb.webp"
    subtitle="s&box, Ape Tavern, 2024"
    desc="First place s&box Game Jam II winner. A multiplayer 3D platformer set at a miniature scale. I created realistic assets, took early blockouts to finalized environments and produced stylized VFX."
    url="https://www.artstation.com/artwork/y4DoAR"
    badge="1st Place"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The Adventurer's Museum"
    img="/adventurersmuseum-thumb.webp"
    subtitle="UE5, DiNusty Empire, 2024"
    desc="A group project with the DiNusty Empire community. I worked on trimsheets with the environment team and designed the posters and other graphics for each exhibit."
    url="https://www.artstation.com/artwork/m8rn9E"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Funicular Platform"
    img="/funicular-thumb.webp"
    subtitle="UE5, 2024"
    desc="A UE5 environment project leveraging Nanite and Lumen, my take on the funicular elevator trope but in a contemporary setting. Mentored by Jeremy Estrellado (Ubisoft&nbsp;Massive). "
    url="https://www.artstation.com/artwork/ob1YXO"
  />
  <div>
    <div class="text-3xl w-full font-bold py-5">Latest blog entries</div>
  </div>

  {
    last_posts.map(post => (
      <>
        <HorizontalCard title={post.data.title} img={post.data.heroImage} desc={post.data.description} url={"/blog/" + createSlug(post.data.title, post.slug)} target="_self" badge={post.data.badge} />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
