---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Past Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Past Projects</div>
  </div>

  <HorizontalCard
    title="MonoWorld RP"
    img="/monoworld_thumb.webp"
    subtitle="UEFN, Monoford Studios, 2026"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.fortnite.com/@monoford/8651-5006-2690"
  />

  <div class="divider my-0"></div><!-- 2025 -->
  <HorizontalCard
    title="Repeat Offender"
    img="/repeatoffender_thumb.webp"
    subtitle="s&box, Ninety Four, 2025"
    desc="First place S&box Game Jam #1 winner. A top down stealth puzzle game with clones and time manipulation. I used the gradient atlas technique to achieve fast and cohesive results."
    url="https://itch.io/jam/sbox-jam-1/rate/3678000"
    badge="1st Place"
  />
  <HorizontalCard
    title="Flood Survival"
    img="/flood_thumb.webp"
    subtitle="s&box, Ape Tavern, 2025"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://sbox.game/apetavern/deluge"
  />
  <HorizontalCard
    title="Clean Up!"
    img="/cleanup_thumb.webp"
    subtitle="s&box, Ape Tavern, 2025"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <HorizontalCard
    title="Winter Fortress Environment"
    img="/winterfortress_thumb.webp"
    subtitle="s&box, 2025"
    desc="s&box Tech Jam"
    url="#"
  />

  <div class="divider my-0"></div><!-- 2024 -->
  <HorizontalCard
    title="Micro Mayhem"
    img="/micromayhem_thumb.webp"
    subtitle="s&box, Ape Tavern, 2024"
    desc="First place s&box Game Jam II winner. A multiplayer 3D platformer set at a miniature scale. I created realistic assets, took early blockouts to finalized environments, produced stylized VFX."
    url="https://sbox.game/apetavern/micromayhem"
    badge="1st Place"
  />
  <HorizontalCard
    title="Turf Wars: Cops & Robbers (UEFN)"
    img="/turfwars_thumb.webp"
    subtitle="UEFN, Monoford Studios, 2024"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://www.fortnite.com/@monoford/9015-3948-6092"
  />
  <HorizontalCard
    title="The Adventurer's Museum"
    img="/adventurersmuseum_thumb.webp"
    subtitle="UE5, DiNusty Empire, 2024"
    desc="A group project with the DiNusty Empire community. I created trimsheets for the environment team and designed posters and other graphics for each exhibit."
    url="https://www.artstation.com/artwork/m8rn9E"
  />
  <HorizontalCard
    title="GRUG"
    img="/grug_thumb.webp"
    subtitle="s&box, Ape Tavern, 2024"
    desc="Our entry for the first official s&box Game Jam, a caveman themed survival game."
    url="#"
    badge="5th Place"
  />
  <HorizontalCard
    title="Funicular Platform"
    img="/funicular_thumb.webp"
    subtitle="UE5, 2024"
    desc="An Unreal Engine 5 environment project, mentored by Jeremy Estrellado (Ubisoft&nbsp;Massive). I designed and produced the cinematic environment from start to finish."
    url="https://www.artstation.com/artwork/ob1YXO"
  />

  <div class="divider my-0"></div><!-- 2023 -->
  <HorizontalCard
    title="What Lurks Below"
    img="/whatlurksbelow_thumb.webp"
    subtitle="s&box, Ape Tavern, 2023"
    desc="Our entry for the Mighty Brick Halloween Game Jam. A fixed camera survival horror game with randomly generated levels, also one of the first games made in s&box's scene system. I created the modular environment pieces, materials, VFX and some props."
    url="#"
    badge="3rd Place"
  />
  <HorizontalCard
    title="Grubs"
    img="/grubs_thumb.webp"
    subtitle="s&box, Ape Tavern, 2023"
    desc="A 2.5D turn based artillery shooter with destructible terrain. I created tileable materials, stylized VFX and 3D backgrounds."
    url="https://sbox.game/apetavern/grubs"
  />
  <HorizontalCard
    title="Parkour Painters"
    img="/parkourpainters_thumb.webp"
    subtitle="s&box, Ape Tavern, 2023"
    desc="Our entry for the Three Thieves Game Jam, A competitive multiplayer game where four teams traverse and fight over graffiti zones. I created the modular environment kits, materials, VFX and one of the two playable maps."
    url="https://www.youtube.com/watch?v=gjLvK24ssx8"
    badge="2nd Place"
  />
  <HorizontalCard
    title="Play for Skateistan"
    img="/skateistan_thumb.webp"
    subtitle="UE4/Session Skate Sim, Skateistan, 2023"
    desc="A community collaboration for the Play for Skateistan charity campaign, I ported two of the virtual skateparks from SkaterXL (Unity) into Session (UE4)."
    url="https://playforskateistan.com/"
  />
  <div class="divider my-0"></div><!-- 2022 -->
  <HorizontalCard
    title="Cold Open"
    img="/coldopen_thumb.webp"
    subtitle="s&box, Ape Tavern, 2022"
    desc="Our entry for Gvarados's Halloween Horror Super Jam, we created a sci-fi horror game where you are stranded on a ship with a shapeshifting alien. I designed and created the ship environment alongside some props and materials."
    url="https://www.gvar.net/contest"
    badge="1st Place"
  />
  <HorizontalCard
    title="Session Modding Template & Wiki"
    img="/sessiontemplate_thumb.webp"
    subtitle="UE4/Session Skate Sim, 2022"
    desc="Provided a project template and a wiki with tutorials to help grow the Session modding community."
    url="https://github.com/Jammie3d/Session_Template"
  />
  <HorizontalCard
    title="Bristol Amphitheatre"
    img="/lloyds_thumb.webp"
    subtitle="UE4/Session Skate Sim, 2022"
    desc="Mod map for Session Skate Sim. A recreation of the famous Lloyds Amphitheatre skate spot in Bristol, UK."
    url="https://www.youtube.com/watch?v=IIhXAvNvFSs"
  />
  <HorizontalCard
    title="An Honourable Duel"
    img="/ggj22_thumb.webp"
    subtitle="Three.js, Bristol Games Hub, 2022"
    desc="Our Global Game Jam 2022 entry, I created the characters and weapon models in a low poly pixel art style and implemented the Mixamo animations."
    url="https://v3.globalgamejam.org/2022/games/honourable-dual-1"
  />
  <div class="divider my-0"></div><!-- 2020 -->
  <HorizontalCard
    title="Supa Happy Deth Slide"
    img="/gmtk20_thumb.webp"
    subtitle="UE4, 2020"
    desc="GMTK Game Jam 2020 entry, a simple sliding platformer where your inputs are a limited resource."
    url="https://itch.io/jam/gmtk-2020/rate/693830"
  />
  <div class="divider my-0"></div><!-- 2019 -->
  <HorizontalCard
    title="Blokto Park"
    img="/blokto_thumb.webp"
    subtitle="UE4/Session Skate Sim, 2019"
    desc="Mod map for Session Skate Sim. For Blocktober I designed and created a playable indoor skatepark in a month and later expanded it with an outdoor area."
    url="https://www.youtube.com/watch?v=ygTVmb39VUY"
  />
</BaseLayout>
